# Copyright (c) 2021 Acme CPU
# Stepper Motor B101 configuration options

config FULL_STEP_ANGLE
	int "Full step angle of the motor in degrees"
	range 1 360
	default 18
	help
		Full step angle of the motor in degrees

