/*
 * Copyright (c) 2024 Acme CPU
 *
 * C208T I2C2 bus has
 *		- BMP388
 *		- BMP388
 *      - S202-cap 
 */


&i2c2 {
	status = "okay";
	pinctrl-0 = <&i2c2_scl_pf1 &i2c2_sda_pf0>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;

	p121_ps: bmp388@76 {
		compatible = "bosch,bmp388";
    	reg = <0x76>;
    	label = "PS_INT_POS";
    	odr = "25";			/* data rate = 25Hz */
    	osr-press = <1>;	/* pressure oversampling = No */
    	osr-temp = <1>;		/* temperature oversampling = No */
    	iir-filter = <0>;	/* iir filter = default val */
	};

	p122_ps: bmp388@77 {
    	compatible = "bosch,bmp388";
    	reg = <0x77>;
    	label = "PS_INT_NEG";
    	odr = "25";			/* data rate = 25Hz */
    	osr-press = <1>;	/* pressure oversampling = No */
    	osr-temp = <1>;		/* temperature oversampling = No */
    	iir-filter = <0>;	/* iir filter = default val */
	};
	
	/*
	s202cap: s202cap@41 {
    	compatible = "ST,AN2606";
    	reg = <0x41>;
    	label = "CAPNOGRAPHY";
	};
	*/
};
