/*
 * Copyright (c) 2024 Acme CPU
 *
 */

/*
	Note:
	All of the switches cannot have an interrupt because of limited number of EXTI IRQn of STM32H7
	see reference manual section 15.4:
		the Pn0 are grouped to EXTI0, similarly Pn1 are grouped to EXTI1 and so on.
		That means if PD6 is configured are an EXTI6 interrupt, we cannot configure PA6 as
		that EXTI line is already used and we will bet a -EBUSY (-16) error number
		
	A solution to this will be to have EXTI on one switch, i.e. power and others should be polled
*/

/ {
	keypad_matrix {
		compatible = "gpio-keys";
			
	    switch_1: switch_1 {
	      gpios = <&gpioc 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	    };
	
	    keymat_row1: key_io_1 {
	      gpios = <&gpiog 1 (GPIO_PUSH_PULL)>;
	    };
	
	    keymat_row2: key_io_2 {
	      gpios = <&gpioa 0 (GPIO_PUSH_PULL)>;
	    };
	
	    keymat_row3: key_io_3 {
	      gpios = <&gpiof 14 (GPIO_PUSH_PULL)>;
	    };
	
	    keymat_row4: key_io_4 {
	      gpios = <&gpioa 1 (GPIO_PUSH_PULL)>;
	    };
	
	    keymat_col1: key_io_5 {
	      gpios = <&gpiod 10 (GPIO_PULL_DOWN)>;
	    };
	
	    keymat_col2: key_io_6 {
	      gpios = <&gpioe 8 (GPIO_PULL_DOWN)>;
	    };
	
	    keymat_col3: key_io_7 {
	      gpios = <&gpiod 9 (GPIO_PULL_DOWN)>;
	    };

	    keymat_col4: key_io_8 {
	      gpios = <&gpiod 8 (GPIO_PUSH_PULL)>;
	    };
	};
	
	buzz: buzzer {
		compatible = "bsp-buzzer";
		status = "okay";
		
		pwms =  <&buzzer_pwm 1 250 PWM_POLARITY_NORMAL>;	/* period given in micro seconds for 4kHz freq buzzer */
		pwm-names = "buzzer-ctrl";

		label = "BUZZER";
	};
	
	display_pwr: display_pwr {
		compatible = "tps61169";
		status = "okay";
		
		pwms =  <&disp_bl_pwm 1 200 PWM_POLARITY_NORMAL>;	/* period given in micro seconds for 5kHz signal */
		pwm-names = "disp-brightness";

		label = "DISPLAY_PWR";
	};
};
