# Copyright (c) 2022 Acme CPU
# Configurations for push switch library 

menuconfig LIB_PUSH_SWITCH
	bool "Push switch library"
	default y
	help
	  Enable or disable the Push switch library to be used in the application 

if LIB_PUSH_SWITCH

	config PUSH_SWITCH_MAX_COUNT
		int "Maxiumum number of push switches in the application"
		default 0
		help
			Maxiumum number of push switches in the application

config SWITCH_EDGE_NORMAL_PRESS_DURATION_MS_MIN
	int "(EDGE TRIG) Min time in milli seconds a switch must stay asserted for normal press detection"
	range 50 500
	default 150
	help
	    A normal switch press is considered valid if the time (in milli seconds) from the moment an interrupt is detected is
	    more than this time

config SWITCH_EDGE_LONG_PRESS_DURATION_MS_MIN
	int "(EDGE TRIG) Min time in milli seconds a switch must stay asserted for long press detection"
	range 2000 10000
	default 3000
	help
	    A long switch press is considered valid if the time (in milli seconds) from the moment an interrupt is detected is
	    more than this time

config SWITCH_LEVEL_NORMAL_PRESS_DURATION_MS_MIN
	int "(LEVEL TRIG) Min time in milli seconds a switch must stay asserted for normal press detection"
	range 50 500
	default 200
	help
	    A normal switch press is considered valid if the time (in milli seconds) from the moment an interrupt is detected is
	    more than this time

config SWITCH_LEVEL_NORMAL_PRESS_DURATION_MS_MAX
	int "(LEVEL TRIG) Max time in milli seconds a switch can stay asserted for normal press detection"
	range 500 2000
	default 800
	help
	    The maximum time helps to rule out incorrect data.

config SWITCH_ASSERTED_PHY_LEVEL
	int "The physical level of a pin which translates to a switch being pressed / asserted"
	range 0 1
	default 0
	help
	    Depending on this value, the library will return SWITCH_ASSERTED and SWITCH_DEASSERTED
	    states when lib_push_switch_state_get() is called

endif # LIB_PUSH_SWITCH