# Copyright (c) 2021 Acme CPU

rsource "bq25611d/Kconfig"
rsource "bsp_leds/Kconfig"
rsource "bsp-drv/Kconfig"
#rsource "gpio/Kconfig"
rsource "pca9545/Kconfig"
rsource "pca9632/Kconfig"
rsource "pcal9539a/Kconfig"
rsource "tim_ic/Kconfig"
rsource "drv10975/Kconfig"
rsource "stspin220/Kconfig"
rsource "tps55340/Kconfig"
rsource "buzzer_generic/Kconfig"
rsource "microcrystal_rv3028/Kconfig"
rsource "ts3usbca4/Kconfig"
rsource "tps22810/Kconfig"
rsource "stm32_option_bytes/Kconfig"
rsource "stm32g4_ucpd/Kconfig"
rsource "tps61169/Kconfig"
rsource "bma253/Kconfig"
rsource "ltc294x/Kconfig"
rsource "bq25890/Kconfig"
rsource "bq25792/Kconfig"
rsource "cmx655d/Kconfig"
rsource "power_control_driver/Kconfig"
rsource "stusb4500/Kconfig"