# Copyright (c) 2021 Acme CPU

rsource "app_battery/Kconfig"
rsource "app_blower/Kconfig"
rsource "app_logger/Kconfig"
#rsource "app_data_recorder/Kconfig"
rsource "app_settings/Kconfig"
#rsource "app_membrane_switch/Kconfig"
rsource "app_devcmd/Kconfig"
rsource "app_time/Kconfig"
rsource "app_stepper/Kconfig"
rsource "app_display/Kconfig"
rsource "app_sensor/Kconfig"
rsource "app_shellcmd/Kconfig"
rsource "app_uart_m2m_com/Kconfig"
rsource "app_led/Kconfig"
rsource "app_push_switch/Kconfig"
rsource "app_ucpd/Kconfig"
rsource "app_storage/Kconfig"
rsource "app_analog/Kconfig"
rsource "app_net/Kconfig"
rsource "app_matrix_keypad/Kconfig"
rsource "app_utils/Kconfig"
rsource "app_heater/Kconfig"
rsource "app_fluid_level/Kconfig"
rsource "app_dfu/Kconfig"
rsource "app_imu_algo/Kconfig"
