# Copyright (c) 2021 Acme CPU

rsource "bq25611d/Kconfig"
rsource "pcal9539a/Kconfig"
rsource "buzzer_generic/Kconfig"
rsource "cmx655d/Kconfig"
rsource "h205c_power/Kconfig"
rsource "max30001/Kconfig"
rsource "ltc294x/Kconfig"
rsource "shmax30101/Kconfig"