# Copyright (c) 2021 Acme CPU
# Micro Crystal RV3028 I2C Extreme Low Power RTC configurations

menuconfig MICROCRYSTAL_RV3028
	bool "Micro Crystal RV3028 I2C Extreme Low Power RTC"
#	depends on I2C_MGM_PCA95XX
	depends on I2C
	help
	  Enable driver for Micro Crystal RV3028 I2C Extreme Low Power RTC

if MICROCRYSTAL_RV3028

module = MICROCRYSTAL_RV3028
module-str = microcrystal_rv3028
source "subsys/logging/Kconfig.template.log_config"

# Init priority must be greater than I2C and I2C MUX for C201 board
config MICROCRYSTAL_RV3028_INIT_PRIORITY
	int "Init Priority"
#	default 70
	default APPLICATION_INIT_PRIORITY
	help
	    Device driver initialization priority.

rsource "Kconfig.microcrystal_rv3028"

endif # MICROCRYSTAL_RV3028
