# Copyright (c) 2021 Acme CPU
# Micro Crystal RV3028 I2C Extreme Low Power RTC configurations

config RV3028_EVENT_TIMESTAMP
	bool "Enable external event and timestamping"
	default n
	help
	  Enable external event interrupt function and timestamp function  

config RV3028_INTERRUPT
	bool "Interrupt enable"
	default n
	depends on MICROCRYSTAL_RV3028
	help
	  Enable interrupt  
