/*
 * Copyright (c) 2021 Acme CPU
 *
 */

/ {
	msc_disk0 {
		compatible = "zephyr,flash-disk";
		partition = <&data_partition>;
		disk-name = "NAND";
		cache-size = <4096>;
	};
};

/ {
	chosen {
		zephyr,shell-uart = &cdc_acm_uart0;
		/*zephyr,console = &cdc_acm_uart0;*/
		/*zephyr,flash-controller = &mt29f2g01abagdwb;*/
		/*zephyr,display = &ssd1306_ssd1306_128x64_spi;*/
	};
	aliases {
		stm32-dev = &usart3;
	};
};

/ {
	zephyr,user {
		dac = <&dac1>;
		dac-channel-id = <1>;
		dac-resolution = <12>;
		
		io-channels = <&adc1 7>, <&adc1 8>, <&adc1 10>;
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};
};
