/*
 * Copyright (c) 2022 Acme CPU
 *
 * C204 I2C4 bus has
 *	- S202 PCB (2 x bmp388)
 *	- RV3028
 */


&i2c4 {
	status = "okay";
	pinctrl-0 = <&i2c4_scl_pg3 &i2c4_sda_pg4>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;
/*
  compatible = "st,stm32-i2c-dma-v2";
  dmas = <&dma1 0 0 0x0 0x0>,
	 <&dma1 0 0 0x0 0x0>;
  dma-names = "tx","rx";
  dma-label-tx = "DMA_TX_I2C_3";
  dma-label-rx = "DMA_RX_I2C_3";
*/

	p121_ps_ext: bmp388@76 {
    	compatible = "bosch,bmp388";
    	reg = <0x76>;
    	label = "PS_EXT_POS";
    	odr = "25";			/* data rate = 25Hz */
   		osr-press = <1>;	/* pressure oversampling = No */
    	osr-temp = <1>;		/* temperature oversampling = No */
    	iir-filter = <0>;	/* iir filter = default val */
	};

	p122_ps_ext: bmp388@77 {
    	compatible = "bosch,bmp388";
    	reg = <0x77>;
    	label = "PS_EXT_NEG";
    	odr = "25";			/* data rate = 25Hz */
    	osr-press = <1>;	/* pressure oversampling = No */
    	osr-temp = <1>;		/* temperature oversampling = No */
    	iir-filter = <0>;	/* iir filter = default val */
	};

  	p26_rtc: rv3028@52 {
    	compatible = "microcrystal,rv3028";
    	reg = <0x52>;
    	int-gpios = <&gpiob 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
    	trickle-resistor-ohms = <3000>;
    	label = "LP_RTC";
  	};
};
