# Copyright (c) 2021 Acme CPU

# Top-level configuration file for LED drivers.

menuconfig TS3USBCA4
	bool "TS3USBCA4 USB C SBU MUX driver"
#	depends on I2C_MGM_PCA95XX
	depends on I2C
	help
	  Enable TS3USBCA4 USB C SBU MUX driver
	  
if TS3USBCA4

module = TS3USBCA4
module-str = ts3usbca4
source "subsys/logging/Kconfig.template.log_config"

config TS3USBCA4_INIT_PRIORITY
	int "TS3USBCA4 initialization priority"
	default APPLICATION_INIT_PRIORITY
	help
	  System initialization priority

endif # TS3USBCA4
