# Copyright (c) 2024 Acme CPU
# Author: Rohan Dey (rohan@acmecpu.com)
# Device Firmware Upgrade STM32 Bootloader Host config 


config STM32BL_UART_BAUD
	int "Baud rate for STM32 co-processor communication in bootloader mode"
	default 19200
	help
	  Baud rate for STM32 co-processor communication in bootloader mode

config STM32BL_UART_RX_BUFFER_SIZE
	int "Size of UART rx buffer in bytes"
	default 512
	help
	  Size of UART rx buffer in bytes

