# Copyright (c) 2024 Acme CPU
# Application Settings Download configuration options

config APP_SETTINGS_DNL_DIR_NAME
	string "Settings log directory name" 
	default "settings"
	help
	  Settings log directory name 

config APP_SETTINGS_DNL_CURR_FILE_NAME
	string "Settings current log file name"
	default "settingsdnl.csv"
	help
	  Settings current log file name 

config APP_SETTINGS_DNL_FILE_SIZE_MAX_MB
	int "Settings current log file max size in MB"
	default 5
	help
	  Settings current log file max size in MB 

config APP_SETTINGS_DNL_MAX_FILE_COUNT
	int "Settings log max file count for log rotation"
	default 1
	help
	  Settings log max file count for log rotation


config APP_SETTINGS_DNL_FILE_URL
	string "Settings file download URL"
	default "http://192.168.73.103:8080/textfile.txt"
	help
	  Settings file download URL

	